[Libraries]
Library/
Temp/
Obj/
Build/
Builds/
Logs/
MemoryCaptures/

[VS/JetBrains junk]
.vs
*.csproj
*.unityproj
*.sln
*.suo
*.user
*.userprefs
.idea/
.vscode/
*.pidb
*.booproj
*.svd

[Others]
.DS_Store
*.apk
*.exe
*.zip
